snippet docstring_parameters "Docstring Parameters section"
Parameters
----------
${1:PARAMETER_NAME}${2: : optional}
    ${3:DESCRIPTION}
endsnippet

snippet log_msg "from pathlib import Path"
logger.${1:info}("${2:message}")
endsnippet

snippet MODULE_DIR "MODULE_DIR"
from pathlib import Path
MODULE_DIR: Path = Path(__file__).parents[0]
endsnippet
