snippet for_multiline "for loop (multiline)"
for ITEM in \
$1 \
$2
do
  echo \$ITEM
done
endsnippet

snippet for_single_line "for loop (single line)"
for ITEM in $1 $2
do
  echo \$ITEM
done
endsnippet

snippet shebang "#!/usr/bin/env zsh"
#!/usr/bin/env zsh
$0
endsnippet

snippet test "test"
echo "TEST"
endsnippet
